<nb-card>
  <nb-card-body>

    <nb-tabset>
      <nb-tab tabTitle="All">
      <dhrp-factions-list></dhrp-factions-list>
      </nb-tab>
      <nb-tab tabTitle="The Eye of the Vortex"
              badgeText="soon"
              badgeStatus="basic"
              disabled
              >
        <p>Coming soon</p>
      </nb-tab>
      <nb-tab tabTitle="Mortal Empires"
              badgeText="soon"
              badgeStatus="basic"
              disabled>
        <p>Coming soon</p>
      </nb-tab>
    </nb-tabset>

  </nb-card-body>
</nb-card>
